.container {
    text-align: left;
    margin-left: 4%;
    padding: 10px;
    display: flex;
    direction: column;
 }

.container span {
    width: 160px;;
}

.container select {
    margin-left: 0;
    margin-right: 20px;
    font-size: 15px;
    width: 145px;
    color: blue;
}

.container input {
    width: 145px;
}

.container form input {
    padding: 10px;
    margin-left: 55px;
    width: 280px;
} 

#upload-check {
    text-decoration: underline;
}

#execute {
    width: 140px;
}