.div-container {
    margin-top: 0;
    padding-top: 15px;
}

.main-section { 
    padding: 0;
    box-shadow: 5px 20px 15px #0B607F;
    height:1300px;
    width:1300px;
    margin: 20px auto;
    background-color: gold;
}

h2 {
    margin: 0 auto;
    color: darkblue;
    font-size: 36px;
    font-weight: 600;
}

.logo {
    margin-left:2%;
    width: 50px;
    border-radius: 70%;
    margin-top: 20%;
}

.bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 500px;
}

.items > a {
    text-decoration: none;
    font-weight: 200;
    font-size: 1.1rem;
    margin-left: 25px;
}

button {
    width: 320px;
    height: 25px;
    margin-top: 5px;
    border: none;
    background: linear-gradient(to left, #4C5EFA, #050F61);
    box-shadow: 0 10px 25px;
    color: white;
    font-size: 18px;
    border-radius: 14px;
    cursor: pointer;
}

/*Style page used for Login.html and signup.html*/
.signup-box{
    width: 360px;
    height: 620px;
    margin: auto;
    border-radius: 3px;
    text-align: center;
}

form.fill-box {
    width: 310px;
    margin-left: 20px;
    text-align: center;
}

form.fill-box label{
    display: flex;
    margin-top: 10px;
    font-size: 14px;
}

form.fill-box input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

#checkbox input {
    width: 20px;
    margin-left: 0;
    margin-right: 105px;
}

.signup-box p {
    text-align: center;
    color: blue;
    margin-top: 10px;
}

.signup-box p a {
    color: red;
}