h3 {
    text-align: center;
}

.container {
    text-align: left;
    margin-left: 4%;
    padding: 10px;
    display: flex;
    direction: column;
}

.container span {
    width: 160px;
}

.container select {
    margin-left: 0;
    margin-right: 20px;
    width: 145px;
}

.container input {
    width: 145px;
}

.container form input {
    padding: 10px;
    width: 450px;
}