

.button {
  height: 60px;
 
  border-radius: 10px;
  background-color: #fff;
  font-size: 3rem;
  color: #333;
  
}




.keys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20%;
  padding: 10% 15%;
 
}
.boxGui{

position: center;

}